.slideshow-container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: center;
  align-self: normal;
  align-content: center;
}
.slideMaimImg{
  margin: 20px;
}
.slideMainImg img{
  width: 350px;
}
.slideDetailImg{
  margin: 20px;
}
.slideDetailImg img{
  width: 350px;
}

.prev{
  display: none;
}
.next {
  /* position: absolute; */
  top: 50%;
  transform: translateY(-80%);
  font-size: 1.5em;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
  /* right:445px; */
}

.prev {
  right:880px;
}



.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* .slide {
  display: inline-block;
} */

.slide img {
  width: 400px;
}


.slideDescription {
  text-align: left; /* Align text to the left */
  margin: 20px;
  font-family: Arial, sans-serif; /* Use a specific font family */
  font-size: 16px; /* Set the font size */
  color: #333; /* Set the text color */
  line-height: 1.6; /* Set the line height for better readability */
  /* border: 5px solid rgb(16, 72, 16); */
  padding: 10px;
  width: 300px;
}

.slideDescription p {
  margin-bottom: 10px; /* Add space between paragraphs */
}

.slideDescription strong {
  color: #0066ff; /* Change color of strong text */
}

.slideDescription em {
  font-style: italic; /* Make text italic */
}

.slideDescription .highlight {
  background-color: #ffff66; /* Highlight text with a background color */
  padding: 2px 4px; /* Add padding to the highlighted text */
  border-radius: 4px; /* Add rounded corners to the highlighted text */
}
