
.slideshow-container {

  max-width: 100px; 
  /* margin: 20px 20px 20px 600px; */
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  align-self: normal;
  align-content: center;
  margin: 20px;
}
.slideMaimImg{
  margin: 50px;
}
.slideDetailImg{
  margin: 20px;
}
.slideDescription{
  margin: 20px;
  width: 200PX;
}


.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-80%);
  font-size: 1.5em;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.prev {
  left:-200px;
}

.next {
  right: -200px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* .slide {
  display: inline-block;
} */

.slide img {
  width: 400px;
}
