.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(224, 101, 101);
  padding-top: 50px;
}

.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin-top: 30px;
}

.person1 img,
.person2 img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  filter: drop-shadow(0px 0px 10px rgba(229, 237, 74, 0.5));
}

.about-onur {
  display: flex;
  justify-content: space-around;
}

.about-ali {
  display: flex;
  justify-content: space-around;
}
