.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; /* Set width to cover the entire page */
  height: 100%; /* Set height to cover the entire page */
  min-width: 100%; /* Ensure the background covers the entire viewport width */
  min-height: 100%; /* Ensure the background covers the entire viewport height */
  object-fit: cover;
  z-index: -1;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 500ms ease-in-out;
}
